body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
header {
  color: #007BFF;
  text-align: center;
  padding: 20px;
}
  
  h1 {
    margin: 0;
  }
  
  #search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #searchInput {
    width: 400px;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
  }
  
  #searchInput:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding-top: 20px;
    flex-grow: 1; /* This makes sure the container takes up the available space */
  }
  
  .item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    width: 220px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .item:hover {
    transform: scale(1.05);
  }
  
  .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  .item-content {
    padding: 16px;
    
  }
  
  .item h3 {
    margin-top: 0;
    font-size: 18px;
    color: #007BFF;
  }
  
  .item p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  .item a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .item a:hover {
    text-decoration: underline;
}
footer {
    background: #111;
    padding: 15px 0px;
    color: white;
    text-align: center;
    flex-shrink: 0; 
  }
  
  footer span a {
    color: #007BFF;
    transition: all 0.3s ease;
  }
  
  footer span a:hover {
    text-decoration: underline;
    color: white;
  }

#scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%; /* Make it round */
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  display: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#scrollTopButton:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #searchInput {
        width: 100%;
    }}